# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.iml

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties

# Windows
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
windows/runner/flutter_window.cpp
windows/runner/main.cpp
windows/runner/utils.cpp
windows/runner/win32_window.cpp
windows/runner/resources/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# ActivityWatch submodule
activitywatch/
